<form class="example-form">
    <form [formGroup]="downloadReportFG">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter UserId" formControlName="dwnReportUserid" required>
            <i matSuffix class="material-icons">account_circle</i>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="dwnReportUserPwd" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="downloadReport()">Download Report</button>
    </form>
</form>