<div>
  <!--<mat-list>
  <mat-list-item><button mat-raised-button color="primary">Download Report</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="primary">Upload Report</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="primary">Add New Role</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="warn">Delete Role</button></mat-list-item>
</mat-list>-->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Download Patient Report</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="downloadReportFG">
        <mat-form-field class="margin-right30">
          <input matInput placeholder="Enter UserId" formControlName="dwnReportUserid" >
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="downloadReport()">Download Report</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Upload Patient Report</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="uploadReportFG">
        <mat-form-field class="margin-right20 left">
          <input matInput placeholder="Enter UserId" formControlName="reportUserId" required>
        </mat-form-field>
        <mat-form-field class="margin-right30 left">
          <mat-select placeholder="Report type" formControlName="reportType" required>
            <mat-option *ngFor="let report of reportTypes" [value]="report">
              {{report}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="margin-right20 left">
          <button mat-stroked-button color="primary" (click)="fileInput.click()">Choose File</button>
          <input hidden type="file" (change)="uploadReport($event)" #fileInput>
        </div>
        <label class="margin-right100">{{fileName}}</label>
        <button mat-raised-button color="primary" (click)="submitReport()">Submit</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Add\Delete Role</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="margin-right20">
        <input matInput placeholder="Enter Role">
      </mat-form-field>
      <button style="margin-right:100px;" mat-raised-button color="primary">Add Role</button>
      <mat-form-field class="margin-right20">
        <mat-select [(value)]="selectedRole">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="warn">Delete Role</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Add Patient</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="PatientDetailsFG">
          <form [formGroup]="PatientDetailsFG">
            <ng-template matStepLabel>Fill Patient Details</ng-template>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Full Name" formControlName="fullName" required>
              <mat-hint>Note: All Fields are required!</mat-hint>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <mat-select formControlName="gender" placeholder="Select Gender">
                <mat-option *ngFor="let gender of genderType" [value]="gender">
                  {{gender}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput type="number" placeholder="Age" formControlName="age" min="0" max="150" required>
              <mat-hint>Note: Age should be between 0-150</mat-hint>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Mobile Number" formControlName="mobile" required>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="PayDetailsFG">
          <form [formGroup]="PayDetailsFG">
            <ng-template matStepLabel>Payement Details</ng-template>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Card number" formControlName="cardNumber" required>
              <mat-hint>Example: 4111111111111111</mat-hint>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput type="number" placeholder="Amount (INR)" min="1" formControlName="amount" required>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Card Expiry (yyyy-mm)" formControlName="cardExpiry" required>
              <mat-hint>Example: 2020-12</mat-hint>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Card CVV" type="password" formControlName="cardCvv" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious class="margin-right10">Back</button>
              <button mat-raised-button color="primary" (click)="MakePayement(stepper)">Pay and Add Patient</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          Patient Added Successfully, with<b> Name : {{newPatientData?.Name}} and Id : {{newPatientData?.Id}} </b>
          <div>
            <button mat-raised-button color="primary" (click)="stepper.reset()">Done</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </mat-expansion-panel>
  </mat-accordion>
</div>