<div>
  <!--<mat-list>
  <mat-list-item><button mat-raised-button color="primary">Download Report</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="primary">Upload Report</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="primary">Add New Role</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-raised-button color="warn">Delete Role</button></mat-list-item>
</mat-list>-->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Download Report</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Enter UserId">
      </mat-form-field>
      <button mat-raised-button color="primary">Download Report</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Upload Report</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width:330px;">
        <input matInput placeholder="Enter UserId">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Report type" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let report of reportTypes" [value]="report">
            {{report}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Upload Report</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Add\Delete Role</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width:330px;">
        <input matInput placeholder="Enter Role">
      </mat-form-field>
      <button style="margin-right:50px;" mat-raised-button color="primary">Add Role</button>
      <mat-form-field style="width:330px;">
        <mat-select [(value)]="selectedRole">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="warn">Delete Role</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Add Patient</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="PatientDetailsFG">
          <form [formGroup]="PatientDetailsFG">
            <ng-template matStepLabel>Fill Patient Details</ng-template>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Full Name" formControlName="fullName" required>
              <mat-hint>Note: All Fields are required!</mat-hint>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Mobile Number" formControlName="mobile" required>
            </mat-form-field>
             <mat-form-field class="margin-right10">
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="margin-right10">
              <input matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="PayDetailsFG">
          <form [formGroup]="PayDetailsFG">
            <ng-template matStepLabel>Payement Details</ng-template>
            <mat-form-field>
              <input matInput placeholder="Payement Mode" formControlName="payMode" required>
            </mat-form-field>
            <div>
              <button mat-stroked-button color="primary" matStepperPrevious class="margin-right10">Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button (click)="stepper.reset()">Thanks!</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </mat-expansion-panel>
  </mat-accordion>
</div>